body{
    font-size:16px;
    font-family:helvetica, arial, sans-serif;
    margin:0px;
    padding:0px;
}
h1{
    font-size:2em;
    margin: 1em 2em;
}
.grid920{
    clear:both;
    margin:2em auto;
    max-width:80%;
    min-width:26.25em;
    vertical-align: top;
}
.item{
    float:left;
    display:block;
    min-width:18em;
    width:28%;
    margin:1%;
    box-shadow: 0 0 0.125em black;
    padding:1em;
    min-height: 10em;
    border-radius:0.125em;
    text-align:center;
}
.item span{
    display:block;
}