body{
    font-size:16px;
    font-family:helvetica, arial, sans-serif;
    margin:0px;
    padding:1em;
}
h1{
    font-size:2em;
    margin: 1em 2em;
}
.grid920{
    clear:both;
    margin:2em auto;
    max-width:80%;
    min-width:26.25em;
    vertical-align: top;
}
.item{
    float:left;
    display:block;
    min-width:18em;
    width:28%;
    margin:1%;
    box-shadow: 0 0 0.125em black;
    padding:1em;
    min-height: 10em;
    border-radius:0.125em;
    text-align:center;
}
.item span{
    display:block;
}
.error{
    background-color:rgba(255,0,0,0.3);
    padding:1em;
    margin:1em 0em;
}
label{
    display:inline-block;
    font-weight: bold;
    min-width:9em;
}
input, select{
    box-sizing: content-box;
    display:inline-block;
    border:0.125em solid lightblue;
    border-radius:0.2em;
    padding:1.1em 1.3em;
    min-width:20em;
}
select{
    -webkit-appearance: none;
    line-height: 1;
    
}
input[type="submit"]{
    background-color:lightblue;
}

.actionBtn{
    display: inline-block;
    background-color: lightgreen;
    text-align: center;
    padding:1em;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.board{
    border:2em ridge #888888;
    padding:1em;
    background-image: url('../img/bcg.jpg');
}

.postit{
    display: inline-block;
    background-color:yellow;
    padding:1em;
    margin:1.5em;
    width:13.75em;
    min-height:13.75em;
    box-shadow: 0.25em 0.25em 0.25em #444;
}

.postit:nth-child(2n){
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform:rotate(10deg);
}

.postit:nth-child(3n){
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform:rotate(-10deg);
}